body{
  background-image: url(../images/arab_tile.png);
}
header{
  /*display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;*/
  width:960px;
  height:60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color:white;
  /*margin-left: auto;
  margin-right: auto;
  position: relative;*/
}

/*Teal block name header*/
.header_name{
  /*flex:1;*/
  background:#4aaaa5;
  float: left;
  color:white;
  width:300px;
  padding-top:18px;
  padding-bottom: 18px;
  text-align: center;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-size: 24px;
}

/*Navbar*/
ul.navbar a{
  /*display:flex;
  flex-direction: row;
  flex:auto;
  align-items: center;
  justify-content: space-between;*/
  font-family:"Georgia", Times, "Times New Roman", serif;
  color:#aba29d;
  list-style:none;
  padding-top:20px;
  float:right;
  text-decoration: none;
  cursor:pointer;
}

/*Navbar menu items*/
/*.menu_About{
  /*list-style: none;*/
  /*flex:4;
  text-align: right;
  display:inline;
}*/
.menu_item{
  /*list-style:none;*/
  /*flex:1;*/
  display:inline;
  padding-right:15px;
}
.menu_item+.menu_item::before{
  content:"|";
  padding-right: 15px;
}

/*Divs for background*/
/*.background{
  display: flex;
  background-image:url("../images/arab_tile.png");
  height:auto;
}
.top_space{
  height:50px;
  width: 100%;
  background-image:url("../images/arab_tile.png");
  border-top: 2px solid #cccccc;
}*/

/*Main Content Section*/
.background{
  background-color: white;
}
section.main_content{
  width:606px;
  border: 2px solid #dddddd;
  background-color:#ffffff;
  margin-right: auto;
  padding:20px;
  position: absolute;
  top:80px;
  left:100px;
}
/*.main_content{
  width:606px;
  border: 2px solid #dddddd;
  background-color:#ffffff;
  margin-right: auto;
  padding:20px;*/

.main_content_head{
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size:24px;
  font-weight:bold;
  border-bottom:2px solid #cccccc;
  padding-bottom:20px;
}
img.pic_ida{
  float:left;
  padding-top:20px;
  padding-right:10px;
  width:400px;
  height:250px;
}
p{
  padding-top: 20px;
  line-height: 35px;
}
aside{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:270px;
  height:200px;
  border: 2px solid #dddddd;
  background-color:#ffffff;
  margin-left: auto;
  position:absolute;
  top:80px;
  right:100px;
}
.connect_links{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.connect{
  border-bottom:2px solid #cccccc;
  color:#4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
  font-size:18px;
  padding-top:20px;
  padding-bottom: 20px;
}
.github{
  width:65px;
  length:60px;
}
.linkedin{
  width:65px;
  length:60px;
  padding:0px;
}
.stackoverflow{
  width:60px;
  length:55px;
  padding:3px;
}
/*.bottom_space{
  height:50px;
  width:100%;
  background-color:#efefef;
}*/
footer{
  background-color:#666666;
  color:white;
  text-align: center;
  padding-top:20px;
  padding-bottom:20px;
  position:relative;
  bottom:-650px;
  border-top:15px solid #4aaaa5;
}
.form{
  width:100%;
  padding-top:10px;
  padding-bottom: 10px;
}
input{
  width:100%;
  margin-top:10px;
  margin-bottom: 10px;
}
textarea{
  height:200px;
  width:100%;
  margin-top:10px;
  margin-bottom: 10px;
}
input#submit{
  width:75px;
  height:50px;
}
div.wrapper{
  position:relative;
  float: left;
  margin:25px;
}
div.description{
  position: absolute;
  bottom: 10px;
  width:100%;
  background:#4aaaa5;
}
.description_content{
  color:white;
  font-size:24px;
  text-align: center;
}
img.portfolio{
  width:250px;
  height:200px;
}
